@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Sinhala&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala&display=swap");

:root {
  --primary-color: rgb(74 222 128);
  --bg-color: #ffffff;
  --light-bg-color: #ffffff;
  --text-color: #111116;
  --light-text-color: #cdccd1;
  --primary-text-color: #ffffff;
  --border-color: #ccc;
  --logo-text-color: #757575;
}

.highlight {
  background-color: yellow; /* Highlighted background color */
  color: red; /* Text color for highlighted words */
  font-weight: bold; /* Bold font for highlighted words */
}

.gcContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  gap: 10px;
}

.sinInputBox,
.inputBox,
.outputBox {
  flex: 1;
  padding: 30px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  transition: border-color 0.3s ease-in-out;
}

/* .sinInputBox textarea {
  font-family: poppins;
}

.inputBox textarea,
.outputBox textarea {
  font-family: "Noto Serif Sinhala", serif;
} */

.sinInputBox textarea,
.inputBox textarea,
.outputBox textarea {
  width: 600px;
  height: 100px;
  resize: none;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  color: var(--text-color);
  font-family: poppins;
}

.inputBox:hover,
.inputBox:focus,
.outputBox:hover,
.outputBox:focus {
  border-color: var(--primary-color);
}

.checkBtn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
